body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.transparentBg {
    background-color: rgb(from var(--pico-background-color) r g b / 0.5);
}

#container {
    width: 100vw;
    height: 100vh;
}

#infobox {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    max-width: 300px;
    word-wrap: break-word;
    opacity: 1;
    transition: opacity 0.5s ease;
}

.parameters {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 300px;
    max-height: 98%;
    overflow-y: scroll;
    z-index: 101;
}

#annotationLabel {
  cursor: pointer;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  margin-left: 20px;
  padding: 15px;
  background: linear-gradient(180deg,
      rgba(0, 0, 0, 0.5) -30%,
      rgba(0, 0, 0, 0.2));
  color: white;
  border-radius: 10px;
  backdrop-filter: blur(5px);
  font-size: 20px;
  line-height: 1;
  transition: opacity 2s, top 0.1s ease 0s, left 0.1s ease 0s;
}