body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.transparentBg {
    background-color: rgb(from var(--pico-background-color) r g b / 0.5);
}

#container {
    width: 100vw;
    height: 100vh;
}

#infobox {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    max-width: 300px;
    word-wrap: break-word;
    opacity: 1;
    transition: opacity 0.5s ease;
}

#button-container {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
}


.parameters {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 300px;
    z-index: 101;
}